/********************  Boaz formating start **********************/

/* body,
html {
    overflow-x: hidden;
} */

body {
  max-width: 2570px;
  margin: auto;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  font-weight: 400;
}

.d-flex {
  display: flex;
}

.float-right {
  float: right;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.t-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
p,
.page-link {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/********************  Header formating start **********************/

header,
.splide {
  background-image: url(/img/header/header-bg.webp);
  background-size: cover;
}

.navbar {
  align-items: center;
  max-width: 100%;
}

.navbar__bg-div {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

.navbar-logo-box {
  width: 40%;
}

.navbar-logo-box__img,
.navbar__one-img,
.about__content__two-img-box,
.blog-custom-content {
  z-index: 10;
}

.navbar-logo-box__img {
  width: 25%;
  left: 17%;
  top: 105px;
}

.navbar__one-img {
  left: 1.9%;
  top: 0;
  opacity: 0.29;
  width: 45%;
}

.splide__track,
.menu,
.carousel {
  z-index: 100;
}

.menu {
  list-style: none;

  flex-wrap: wrap;
  align-items: center;
  padding-left: 3.5em;
  width: 60%;
  min-height: 4rem;
  justify-content: start;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
}

.menu li a {
  color: #000;
}

.menu,
.bar,
.dark\:bg-primary-400:is(.dark *) {
  background-color: #e2d8a8;
}

.menu.active {
  right: 0;
}

.menu li {
  padding-right: 3.7em;
}

.menu__elem--pr-0 {
  padding-right: 0 !important;
}

.menu li a {
  text-decoration: none;
}

.header__right-box__div__link,
.menu li a {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 10;
  position: relative;
  left: 4%;
  top: -18px;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 3px 0;
}

/********************  Header formating end **********************/

/********************  Slider formating start **********************/

/********************  Slider formating end **********************/

/********************  Events formating start **********************/

body,
.events,
.about,
.welcome-shop,
.blog-custom-content {
  background-image: url(/img/page-bg.webp);
  background-size: cover;
}

.events,
.welcome-shop {
  padding: 0 4% 7em 4%;
}

.events__h1,
.page-link,
a,
.footer-content__text-box__h3,
.welcome-shop__h2,
.blog-custom-content__h2 {
  color: #e2d8a8;
}

.events__h1 {
  padding: 2em 0;
}

.events__content__box {
  width: 34%;
}

.events__content__box__img,
.welcome-shop__content__box__img {
  width: 100%;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}

.events__content__box--margin,
.welcome-shop__content__box--margin {
  margin: 0 0.5em;
}

.events__content__box__text-box {
  color: #fff;
}

.welcome-shop__content__box__text-box,
.events__content__box__text-box {
  padding: 2em;
  margin-top: -4px;
}

.events__link-box {
  margin-top: 4em;
}

.events__content__box__link,
.welcome-shop__content__box__text-box__link {
  float: right;
}

.events__content__box__p,
.welcome-shop__content__box__p {
  font-weight: 300;
  margin: 0.7em 0;
}

.events__content__box__p,
.welcome-shop__content__box__p,
.about__content__text-box__p {
  font-weight: 300;
}

.events__content__box__text-box {
  height: 220px;
}

.welcome-shop__content__box__text-box,
.events__content__box__text-box {
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
}

.page-link {
  border: 1.5px solid;
  padding: 0.5em 1.3em;
  border-radius: 20px;
  font-weight: 500;
}

.page-link__img {
  max-width: 13px;
  height: 13px;
  margin-left: 5px;
  top: 1px;
  display: unset;
}

/********************  Events formating end **********************/

/********************  About formating start **********************/

.about {
  padding-bottom: 3em;
}

.about__content,
.footer-content {
  align-items: center;
}

.about__content__text-box {
  background-image: url(/img/about/about-bg.webp);
  padding: 4.7em 4em;
}

.about__content__one-text-box,
.about__content__two-text-box {
  width: 70%;
}

.about__content__one-img-box {
  margin-left: -7%;
}

.about__content__one-img-box,
.about__content__two-img-box {
  width: 30%;
}

.about__content__img-box__img {
  width: 100%;
  border-radius: 50%;
  border: 9px solid #fff;
}

.about__content__text-box__p {
  width: 85%;
}

.about__content__text-box__bg-box {
  background-color: #e2d8a8;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.about__content__two-text-box,
.footer-content__text-box {
  text-align: end;
}

.about__content__two-text-box__p {
  width: 70%;
  float: right;
  color: #4f2c4a;
}

.about__content__two-img-box {
  right: -7%;
}

.about__content--margin-b {
  margin-bottom: 3em;
}

.about__content__text-box__h2 {
  margin-bottom: 0.5em;
}

.about__content__one-text-box__img-box,
.about__content__two-text-box__img-box {
  margin-bottom: 1em;
}

.about__content__two-text-box__img-box {
  flex-direction: column;
  align-items: flex-end;
}

/********************  About formating end **********************/

/********************  Welcome shop formating start **********************/

.welcome-shop__h2 {
  padding-bottom: 2.3em;
}

.welcome-shop__content__box {
  width: 25%;
}

.welcome-shop__content__box__text-box {
  background: #fff;
}

.welcome-shop__content__box__text-box__h5 {
  margin: 2.3em 0 0 0;
  font-size: 1rem;
}

.welcome-shop__h2 {
  padding-bottom: 2.3em;
}

.welcome-shop {
  padding-bottom: 13em;
}

/********************  Welcome shop formating end **********************/

/********************  Footer formating start **********************/

.footer-content,
.copyright,
.events__content__box__text-box {
  background: #391d35;
}

.footer-content {
  justify-content: space-evenly;
}

.footer-content__text-box,
.footer-content__link-box {
  width: 35%;
}

.footer-content__logo-box {
  width: 20%;
}

.footer-content__logo-box__img {
  width: 65%;
  margin: auto;
  display: block;
  margin-top: -25%;
}

.footer-content__text-box__h3 {
  padding-bottom: 0.9em;
}

.copyright__h4 {
  color: #fff;
  padding: 3em 0 1em 0;
}

/********************  Footer formating end **********************/

/********************  Blog page formating start **********************/

.blog-custom-content {
  margin: 10em 0;
  padding-left: 7.5%;
}

.blog-custom-content__img {
  width: 50%;
  margin: 2em 0;
}

.blog-custom-content__link-box {
  padding: 1.5em 0 2em 0;
}

.blog-custom-content p {
  width: 70%;
  color: #fff;
}

.blog-custom-content__h2 {
  padding-top: 2em;
}

/********************  Blog page formating end **********************/

/********************  Media start **********************/

@media (min-width: 2200px) and (max-width: 2570px) {
  p {
    font-size: 1.4rem;
  }
  .header__right-box__div__link,
  .menu li a {
    font-size: 2rem;
  }
  .menu {
    min-height: 6rem;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
  }
  .events__h1,
  .welcome-shop__h2 {
    font-size: 2.3rem;
  }
  .events__content__box__img,
  .welcome-shop__content__box__img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .events__content__box__h2,
  .welcome-shop__content__box__text-box__h2 {
    font-size: 2rem;
  }
  .events__link-box__link {
    font-size: 1.7rem;
  }
  .page-link {
    border-radius: 30px;
  }
  .about__content__text-box__h2 {
    font-size: 2.1rem;
  }
  .welcome-shop__content__box__text-box__h5 {
    font-size: 1.5rem;
  }
  .welcome-shop__content__box__p {
    margin-bottom: 1em;
  }
  .footer-content__text-box__h3 {
    font-size: 1.7rem;
  }
  .copyright__h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 2000px) and (max-width: 2200px) {
  p {
    font-size: 1.3rem;
  }
  .header__right-box__div__link,
  .menu li a {
    font-size: 1.5rem;
  }
  .menu {
    min-height: 5rem;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  .events__h1,
  .welcome-shop__h2 {
    font-size: 2.1rem;
  }
  .events__content__box__img,
  .welcome-shop__content__box__img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .events__content__box__h2,
  .welcome-shop__content__box__text-box__h2 {
    font-size: 1.8rem;
  }
  .events__link-box__link {
    font-size: 1.5rem;
  }
  .page-link {
    border-radius: 30px;
  }
  .about__content__text-box__h2 {
    font-size: 2rem;
  }
  .welcome-shop__content__box__text-box__h5 {
    font-size: 1.3rem;
  }
  .welcome-shop__content__box__p {
    margin-bottom: 1.3em;
  }
  .footer-content__text-box__h3 {
    font-size: 1.5rem;
  }
  .copyright__h4 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1800px) and (max-width: 2000px) {
  p {
    font-size: 1.3rem;
  }
  .header__right-box__div__link,
  .menu li a {
    font-size: 1.5rem;
  }
  .menu {
    min-height: 5rem;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  .events__h1,
  .welcome-shop__h2 {
    font-size: 2.1rem;
  }
  .events__content__box__img,
  .welcome-shop__content__box__img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .events__content__box__h2,
  .welcome-shop__content__box__text-box__h2 {
    font-size: 1.8rem;
  }
  .events__link-box__link {
    font-size: 1.5rem;
  }
  .page-link {
    border-radius: 30px;
  }
  .about__content__text-box__h2 {
    font-size: 2rem;
  }
  .welcome-shop__content__box__text-box__h5 {
    font-size: 1.3rem;
  }
  .welcome-shop__content__box__p {
    margin-bottom: 1.3em;
  }
  .footer-content__text-box__h3 {
    font-size: 1.5rem;
  }
  .copyright__h4 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1600px) and (max-width: 1800px) {
  p {
    font-size: 1.1rem;
  }
  .header__right-box__div__link,
  .menu li a {
    font-size: 1.2rem;
  }
  .menu {
    min-height: 4.5rem;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  .events__h1,
  .welcome-shop__h2 {
    font-size: 1.7rem;
  }
  .events__content__box__img,
  .welcome-shop__content__box__img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .events__content__box__h2,
  .welcome-shop__content__box__text-box__h2 {
    font-size: 1.5rem;
  }
  .events__link-box__link {
    font-size: 1.2rem;
  }
  .page-link {
    border-radius: 30px;
  }
  .about__content__text-box__h2 {
    font-size: 1.7rem;
  }
  .welcome-shop__content__box__text-box__h5 {
    font-size: 1.2rem;
  }
  .welcome-shop__content__box__p {
    margin-bottom: 1em;
  }
  .footer-content__text-box__h3 {
    font-size: 1.3rem;
  }
  .copyright__h4 {
    font-size: 1.1rem;
  }
}

@media (min-width: 1500px) and (max-width: 1600px) {
  p {
    font-size: 1.1rem;
  }
  .header__right-box__div__link,
  .menu li a {
    font-size: 1.2rem;
  }
  .menu {
    min-height: 4.5rem;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  .events__h1,
  .welcome-shop__h2 {
    font-size: 1.7rem;
  }
  .events__content__box__img,
  .welcome-shop__content__box__img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .events__content__box__h2,
  .welcome-shop__content__box__text-box__h2 {
    font-size: 1.5rem;
  }
  .events__link-box__link {
    font-size: 1.2rem;
  }
  .page-link {
    border-radius: 30px;
  }
  .about__content__text-box__h2 {
    font-size: 1.7rem;
  }
  .welcome-shop__content__box__text-box__h5 {
    font-size: 1.2rem;
  }
  .welcome-shop__content__box__p {
    margin-bottom: 1em;
  }
  .footer-content__text-box__h3 {
    font-size: 1.3rem;
  }
  .copyright__h4 {
    font-size: 1.1rem;
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {
  p {
    font-size: 1rem;
  }
  .header__right-box__div__link,
  .menu li a {
    font-size: 1rem;
  }
  .menu {
    min-height: 4rem;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  .events__h1,
  .welcome-shop__h2 {
    font-size: 1.5rem;
  }
  .events__content__box__img,
  .welcome-shop__content__box__img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .events__content__box__h2,
  .welcome-shop__content__box__text-box__h2 {
    font-size: 1.3rem;
  }
  .events__link-box__link {
    font-size: 1rem;
  }
  .page-link {
    border-radius: 30px;
  }
  .about__content__text-box__h2 {
    font-size: 1.5rem;
  }
  .welcome-shop__content__box__text-box__h5 {
    font-size: 1rem;
  }
  .welcome-shop__content__box__p {
    margin-bottom: 1em;
  }
  .footer-content__text-box__h3 {
    font-size: 1.1rem;
  }
  .copyright__h4 {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  p {
    font-size: 0.9rem;
  }
  .header__right-box__div__link,
  .menu li a {
    font-size: 1rem;
  }
  .menu {
    min-height: 4rem;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  .menu li {
    padding-right: 2.7em;
  }
  .events__h1,
  .welcome-shop__h2 {
    font-size: 1.4rem;
  }
  .events__content__box__img,
  .welcome-shop__content__box__img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .events__content__box__h2,
  .welcome-shop__content__box__text-box__h2 {
    font-size: 1.2rem;
  }
  .events__content__box__text-box {
    height: 185px;
  }
  .events__link-box__link {
    font-size: 0.9rem;
  }
  .page-link {
    border-radius: 30px;
  }
  .about__content__text-box__h2 {
    font-size: 1.3rem;
  }
  .about__content__one-img-box {
    margin-left: -10%;
  }
  .about__content__two-img-box {
    right: -10%;
  }
  .welcome-shop__content__box__text-box__h5 {
    font-size: 1rem;
    margin: 3em 0 0 0;
  }
  .welcome-shop__content__box__p {
    margin-bottom: 1em;
  }
  .footer-content__text-box__h3 {
    font-size: 1rem;
  }
  .copyright__h4 {
    font-size: 0.9rem;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  p {
    font-size: 0.9rem;
  }
  .header__right-box__div__link,
  .menu li a {
    font-size: 1rem;
  }
  .menu {
    min-height: 4rem;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  .menu li {
    padding-right: 1.9em;
  }
  .events__h1,
  .welcome-shop__h2 {
    font-size: 1.4rem;
  }
  .events__content__box__img,
  .welcome-shop__content__box__img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .events__content__box__h2,
  .welcome-shop__content__box__text-box__h2 {
    font-size: 1.2rem;
  }
  .events__content__box__text-box {
    height: 185px;
  }
  .events__link-box__link {
    font-size: 0.9rem;
  }
  .page-link {
    border-radius: 30px;
  }
  .about__content__text-box__h2 {
    font-size: 1.3rem;
  }
  .about__content__one-img-box {
    margin-left: -10%;
  }
  .about__content__two-img-box {
    right: -10%;
  }
  .about__content__text-box {
    padding: 2em 4em;
  }
  .welcome-shop__content__box__text-box__h5 {
    font-size: 1rem;
    margin: 3em 0 0 0;
  }
  .welcome-shop__content__box__p {
    margin-bottom: 1em;
  }
  .footer-content__text-box__h3 {
    font-size: 1rem;
  }
  .copyright__h4 {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  p {
    font-size: 0.9rem;
  }

  .header__right-box__div__link,
  .menu li a {
    font-size: 1rem;
  }
  .menu {
    min-height: 4rem;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  .menu li {
    padding-right: 1.9em;
  }
  .events,
  .welcome-shop {
    padding: 0 4% 3em 4%;
  }
  .events,
  .welcome-shop {
    padding: 0 4% 3em 4%;
  }
  .events__h1,
  .welcome-shop__h2 {
    font-size: 1.4rem;
  }
  .events__content__box__img,
  .welcome-shop__content__box__img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .events__content__box__h2,
  .welcome-shop__content__box__text-box__h2 {
    font-size: 1.2rem;
  }
  .events__content__box__text-box {
    height: 185px;
  }
  .events__link-box__link {
    font-size: 0.9rem;
  }
  .events__content,
  .about__content,
  .welcome-shop__content {
    flex-wrap: wrap;
  }
  .events__content__box,
  .welcome-shop__content__box {
    width: 50%;
    margin-bottom: 2em;
  }
  .page-link {
    border-radius: 30px;
  }
  .about__content__text-box__h2 {
    font-size: 1.3rem;
  }
  .about__content__one-img-box {
    margin-left: 0;
  }
  .about__content__two-img-box {
    right: 0;
  }
  .about__content__text-box {
    padding: 2em 4em;
  }
  .about__content__one-text-box,
  .about__content__two-text-box {
    width: 100%;
    margin: 3em 0;
  }
  .about__content__one-img-box,
  .about__content__two-img-box {
    width: 50%;
    display: block;
    margin: auto;
  }
  .welcome-shop__content__box__text-box__h5 {
    font-size: 1rem;
    margin: 3em 0 0 0;
  }
  .welcome-shop__content__box__p {
    margin-bottom: 1.7em;
  }
  .footer-content {
    padding-top: 1em;
  }
  .footer-content__text-box__h3 {
    font-size: 1rem;
  }
  .copyright__h4 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 1.1rem;
  }

  .navbar__one-img {
    display: none;
  }
  .navbar.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar.active .bar:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar.active .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar-logo-box {
    width: 100%;
  }
  .navbar-logo-box__img {
    width: 40%;
    left: 0;
    top: 0;
    float: right;
    margin: 2em 1em 2em 0;
  }
  .header__right-box__div__link,
  .menu li a {
    font-size: 1.3rem;
  }
  .menu {
    min-height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .menu li {
    padding: 1.7em 0 0 0;
  }
  .events,
  .welcome-shop {
    padding: 0 4% 3em 4%;
  }
  .events,
  .welcome-shop {
    padding: 0 4% 3em 4%;
  }
  .events__h1,
  .welcome-shop__h2 {
    font-size: 1.4rem;
  }
  .events__content__box__img,
  .welcome-shop__content__box__img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .events__content__box__h2,
  .welcome-shop__content__box__text-box__h2 {
    font-size: 1.2rem;
  }
  .events__content__box__text-box {
    height: 100%;
  }
  .events__link-box__link {
    font-size: 0.9rem;
  }
  .events__content,
  .about__content,
  .welcome-shop__content,
  .footer-content {
    flex-wrap: wrap;
  }
  .events__content__box,
  .welcome-shop__content__box {
    width: 100%;
    margin-bottom: 2em;
  }
  .page-link {
    border-radius: 30px;
  }
  .about__content__text-box__h2 {
    font-size: 1.9rem;
  }
  .about__content__one-img-box {
    margin-left: 0;
  }
  .about__content__two-img-box {
    right: 0;
  }
  .about__content__text-box {
    padding: 4em 3em;
  }
  .about__content__one-text-box,
  .about__content__two-text-box {
    width: 100%;
    margin: 3em 0;
  }
  .about__content__one-img-box,
  .about__content__two-img-box {
    width: 82%;
    display: block;
    margin: auto;
  }
  .about__content__text-box__p {
    width: 100%;
  }
  .welcome-shop__content__box__text-box__h5 {
    font-size: 1rem;
    margin: 3em 0 0 0;
  }
  .welcome-shop__content__box__p {
    margin-bottom: 1.7em;
  }
  .footer-content {
    padding: 0 0 0 2em;
  }
  .footer-content__text-box__h3 {
    font-size: 1.5rem;
  }
  .footer-content__text-box,
  .footer-content__link-box {
    width: 100%;
  }
  .footer-content__logo-box {
    width: 100%;
    margin: 4em 0;
  }
  .footer-content__text-box {
    text-align: unset;
    margin: 3em 0 0 0;
  }
  .footer-content__text-box__p,
  .footer-content__link-box__p {
    margin-bottom: 1em;
  }
  .footer-content__text-box__p__link,
  .footer-content__link-box__p__link {
    font-size: 1.2rem;
  }
  .footer-content__logo-box__img {
    width: 80%;
    margin: 0;
    display: unset;
  }
  .copyright__h4 {
    font-size: 1.2rem;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
}

@media (min-width: 500px) and (max-width: 640px) {
}

@media (min-width: 400px) and (max-width: 500px) {
}

@media (min-width: 300px) and (max-width: 400px) {
}

/********************  Media end **********************/

/********************  Boaz formating end **********************/
